/* theme:
#1c1c1c
#2541b2
#1768ac
#06bee1
#ffffff */

@font-face {
  font-family: "CustomFont";
  /* src: url("fonts/afterclap/Afterclap_Personal_Use.otf") format("opentype"); */
  src: url("fonts/stadium/stadium.ttf") format("truetype");
}

body {
  margin: 0;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title {
  font-family: "CustomFont";
  font-size: 60px;
  color: black;
}

.model {
  width: 100%;
  height: 400px;
  position: relative;
}

#team {
  height: 600px;
  padding: 0;
  background: linear-gradient(45deg, #1768ac, #06bee1);
}
