@font-face {
  font-family: "CustomFont";
  /* src: url("fonts/afterclap/Afterclap_Personal_Use.otf") format("opentype"); */
  src: url("fonts/stadium/stadium.ttf") format("truetype");
}

@keyframes expand {
  from {max-width: 0;}
  to {max-width: 90%;}
}

hr {
  color: #c4c4c4;
  max-width: 90%;
  animation-name: expand;
  animation-duration: 3s;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title {
  font-family: "CustomFont";
  font-size: 60px;
  /* color: #6d6d6d; */
  color: black;
}

.model {
  width: 100%;
  height: 400px;
  position: relative;
}
