/* theme:
#1c1c1c
#2541b2
#1768ac
#06bee1
#ffffff */

/* Global Vars */
:root {
  --dark-color: #1c1c1c;
  --light-color: #ffffff;
}
@font-face {
  font-family: "ArtDecoFont";
  src: url("fonts/stadium/stadium.ttf") format("truetype");
}

/* Mobile & General */
body {
  margin: 0;
}
nav {
  height: 3rem;
  background: var(--dark-color);
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.title {
  font-family: "ArtDecoFont";
  font-size: 2.5rem;
  color: black;
  text-align: center;
}
#model {
  width: 100%;
  height: 400px;
  position: relative;
}
#about {
  height: 30rem;
  background: linear-gradient(45deg, #1768ac, #06bee1);
}
#team {

}
.employee-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}
.employee {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15rem auto;
  height: 15rem;
  margin: auto;
  overflow: hidden;
}
.employee--avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
.employee--name {
  color: #222;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
.employee--description {
  text-decoration: none;
  color: #555;
  padding: 0.3rem 1rem;
}

/* IPad */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 1200px) {
}
