/* Global Vars */
:root {
  --black-color: #1c1c1c;
  --dark-blue-color: #2541b2;
  --dark-grey-color: #333;
  --light-grey-color: #ddd;
  --blue-color: #1768ac;
  --light-blue-color: #06bee1;
  --light-color: #ffffff;
}
@font-face {
  font-family: "ArtDecoFont";
  src: url("fonts/stadium/stadium.ttf") format("truetype");
}

/* General */
body {
  margin: 0;
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: var(--black-color);
  text-align: center;
}
hr {
  border-top: 2px;
  color: var(--light-grey-color);
  max-width: 768px;
}
.center-vertically {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.center-horizontally {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


/* Navbar */
.topnav {
  overflow: hidden;
  background-color: var(--dark-grey-color);
}
.topnav a {
  font-family: "ArtDecoFont";
  float: left;
  display: block;
  color: var(--light-color);
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: var(--light-grey-color);
  color: var(--black-color);
}
.topnav a.active {
  /* background-color: var(--black-color); */
  background-color: var(--dark-blue-color);
  color: var(--light-color);
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Banner */
#quote {
  font-family: "ArtDecoFont";
  font-size: 2.5rem;
  color: var(--black-color);
  text-align: center;
}
#model {
  width: 100%;
  height: 400px;
  position: relative;
}


/* About */
#about {
  background: linear-gradient(45deg, var(--blue-color), var(--light-blue-color));
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#about h2 {
  color: var(--light-grey-color);
}
#about p {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: var(--light-grey-color);
  text-align: justify;
  max-width: 768px;
  padding: 1.5rem;
  padding-top: 0px;
}


/* Team */
#team {

}
.employee-container {
  display: grid;
  max-width: 768px;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.employee {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15rem auto;
  height: 15rem;
  margin: auto;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}
.employee .avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
.employee .name {
  color: #222;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
.employee .description {
  color: #555;
}


/* Map */
#map iframe {
  width: 100%;
  height: 400px;
}


/* Footer */
#footer {
  height: 10rem;
  width: 100%;
  background: var(--blue-color);
  font-size: 1rem;
}
#footer img {
  height: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#footer-logo {
  text-align: center;
  color: var(--light-color);
  font-family: "ArtDecoFont";
}
#copyright {
  text-decoration: none;
  text-align: center;
  color: var(--light-color);
  font-family: "Source Sans Pro", Arial, sans-serif;
}
#copyright a {
  text-decoration: none;
  text-align: center;
  color: var(--light-color);
  font-family: "Source Sans Pro", Arial, sans-serif;
}


/* Ipad or larger */
@media (min-width: 768px) {
  #quote {
    font-size: 3rem;
  }
  #model {
    width: 100%;
    height: 500px;
    position: relative;
  }
  h2 {
    font-size: 2.25rem;
  }
  #about p {
    font-size: 1.5rem;
  }
}


/* Desktop */
@media (min-width: 1200px) {
  #quote {
    font-size: 5rem;
  }
  #model {
    width: 100%;
    height: 800px;
    position: relative;
  }
}
